* {
    font-family: 'Open Sans', sans-serif;
}

.center {
    display: block;
    margin: 0 auto;
}

.content {
    max-width: 750px;
    margin: 10px auto;
}

.date {
    color: #808285;
    font-size: 0.8em;
    line-height: 0.8em;
}

.flex div img {
    border: 1px solid #000000;
    width: 100%;
}

.flex div {
    flex: 1;
    margin: 2px;
}

.flex {
    display: flex;
}

.icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icons ul li {
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
    padding: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

a:active {
    color: #0850F7;
}

a:hover {
    color: #BF1722;
    background-color: #ffffcc !important;
}

a:link {
    color: #20399D;
}

a:visited {
    color: #20399D;
}

code,pre {
    font-family: monospace;
    color: #000000;
}

hr {
    display: block;
    overflow: hidden;
    border-width: 1px;
    border-color: #000000;
}
